.navbar {
  width: 100%;
  padding: 20px 8%;
  background: #192541;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 60px;
  color: #0f766e;
  font-weight: 800;
}

.nav-links {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-links li a {
  color: whitesmoke;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #0f766e;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}